* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  width: 25vw;
  height: 60vh;
  border-radius: 5px;
  border: 1.5px solid #38ada9;
  display: flex;
  align-items: center;
  margin-top: 7rem;
}

.counter-number {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  padding-bottom: 3rem;
  color: #494949;
}

.counter-button {
  display: flex;
  justify-content: center;
}

.ind-button {
  color: white;
  background-color: #079992;
  border-color: #079992;
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn.active {
  color: #38ada9;
}

.ind-button:hover {
  color: #079992;
  background-color: white;
  border-color: #079992;
}
